In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
# Store the CSV you created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tilichiki,RU,2022-07-19 02:27:22,60.4667,166.1000,61.18,62,100,7.61
1,1,Antofagasta,CL,2022-07-19 02:27:22,-23.6500,-70.4000,54.68,76,24,4.29
2,2,Cabo San Lucas,MX,2022-07-19 02:22:33,22.8909,-109.9124,88.61,63,20,3.44
3,3,Alofi,NU,2022-07-19 02:27:23,-19.0595,-169.9187,78.69,73,75,19.57
4,4,East London,ZA,2022-07-19 02:26:31,-33.0153,27.9116,67.86,37,4,11.27

In [2]:
# Get the data types. (The data we use for mapping must be either integer or floating-point decimal.)
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Cabo San Lucas,MX,2022-07-19 02:22:33,22.8909,-109.9124,88.61,63,20,3.44
3,3,Alofi,NU,2022-07-19 02:27:23,-19.0595,-169.9187,78.69,73,75,19.57
6,6,Acapulco,MX,2022-07-19 02:23:37,16.8634,-99.8901,84.02,79,40,8.05
7,7,Kapaa,US,2022-07-19 02:27:24,22.0752,-159.3190,87.78,73,40,16.11
8,8,Sembakung,ID,2022-07-19 02:27:24,3.8167,117.2500,85.89,64,98,1.19
15,15,Lakatoro,VU,2022-07-19 02:27:25,-16.0999,167.4164,82.11,70,10,16.31
18,18,Atuona,PF,2022-07-19 02:27:26,-9.8000,-139.0333,76.73,78,73,17.87
20,20,Bilma,NE,2022-07-19 02:27:27,18.6853,12.9164,86.77,34,11,6.76
33,33,Hithadhoo,MV,2022-07-19 02:26:23,-0.6000,73.0833,82.78,74,98,10.07
35,35,Lufilufi,WS,2022-07-19 02:27:31,-13.8745,-171.5986,83.98,79,26,22.95

In [10]:
preferred_cities_df.count()

City_ID       202
City          202
Country       202
Date          202
Lat           202
Lng           202
Max Temp      202
Humidity      202
Cloudiness    202
Wind Speed    202
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2   Cabo San Lucas      MX     88.61  22.8909 -109.9124
3            Alofi      NU     78.69 -19.0595 -169.9187
6         Acapulco      MX     84.02  16.8634  -99.8901
7            Kapaa      US     87.78  22.0752 -159.3190
8        Sembakung      ID     85.89   3.8167  117.2500
15        Lakatoro      VU     82.11 -16.0999  167.4164
18          Atuona      PF     76.73  -9.8000 -139.0333
20           Bilma      NE     86.77  18.6853   12.9164
33       Hithadhoo      MV     82.78  -0.6000   73.0833
35        Lufilufi      WS     83.98 -13.8745 -171.5986

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Cabo San Lucas,MX,88.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
3,Alofi,NU,78.69,-19.0595,-169.9187,Taloa Heights
6,Acapulco,MX,84.02,16.8634,-99.8901,HS Hotsson Smart Acapulco
7,Kapaa,US,87.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Sembakung,ID,85.89,3.8167,117.2500,
15,Lakatoro,VU,82.11,-16.0999,167.4164,Lakatoro Palm Lodge
18,Atuona,PF,76.73,-9.8000,-139.0333,Villa Enata
20,Bilma,NE,86.77,18.6853,12.9164,Expeditions Ténére voyages
33,Hithadhoo,MV,82.78,-0.6000,73.0833,Scoop Guest House
35,Lufilufi,WS,83.98,-13.8745,-171.5986,Leuaina Beach Resort and Spa

In [26]:
# Create info box template.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))